.maplibregl-map::before {
  position: relative;
  display: block;
  cursor: default;
  z-index: 10;
  width: 100%;
  height: 100%;
  content: '';
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 30%,
    rgb(0, 0, 0) 110%
  );
  mix-blend-mode: multiply;
  opacity: 15%;
}
