---
export const prerender = false

import PageLayout from '@/layouts/Base.astro'
import { actions, isInputError } from 'astro:actions'

import { TURNSTILE_SITE_KEY } from 'astro:env/client'

const result = Astro.getActionResult(actions.contact)
const inputErrors = isInputError(result?.error) ? result.error.fields : {}

const meta = {
  description: 'Conatact',
  title: 'Contact'
}
---

<script
  is:inline
  src='https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit'
></script>

<script define:vars={{ TURNSTILE_SITE_KEY }} is:inline>
  document.addEventListener('astro:page-load', function () {
    // eslint-disable-next-line no-undef
    turnstile.ready(function () {
      // eslint-disable-next-line no-undef
      turnstile.render('#turnstile', {
        sitekey: TURNSTILE_SITE_KEY,
        'response-field-name': 'turnstile'
      })
    })
  })
</script>

<PageLayout {meta}>
  <div class='m-10 flex w-full flex-col justify-center text-center sm:w-2/3'>
    <h2 class='text-2xl font-bold'>Contact</h2>
    <div class='flex flex-col gap-y-7'>
      {
        result?.error && !isInputError(result.error) && (
          <div class='text-red-500'>Unknown Error: {result?.error.message}</div>
        )
      }
      <form
        class='mt-8 flex flex-col items-center gap-y-7'
        method='POST'
        action={'/contact/thanks' + actions.contact}
      >
        <label class='flex w-full flex-col'>
          <span>Name</span>
          {
            inputErrors.fullName && (
              <span class='text-red-500'>
                Captcha error: {inputErrors.fullName.join(', ')}
              </span>
            )
          }
          <input
            transition:persist='name'
            required
            name='fullName'
            type='text'
            minlength='2'
            class='mt-1 rounded-md border border-border bg-primary-foreground p-2 shadow-sm hover:border-foreground/25 hover:shadow-md'
          />
        </label>
        <label class='flex w-full flex-col'>
          <span>Email address</span>
          {
            inputErrors.email && (
              <span class='text-red-500'>{inputErrors.email.join(', ')}</span>
            )
          }
          <input
            transition:persist
            name='email'
            type='email'
            class='mt-1 rounded-md border border-border bg-primary-foreground p-2 shadow-sm hover:border-foreground/25'
            placeholder='email@example.com'
          />
        </label>
        <label class='flex w-full flex-col'>
          <span>Message</span>
          {
            inputErrors.message && (
              <span class='text-red-500'>{inputErrors.message.join(', ')}</span>
            )
          }
          <textarea
            transition:persist
            required
            name='message'
            minlength='2'
            class='mt-1 h-24 w-full rounded-md border border-border bg-primary-foreground p-2 shadow-sm [field-sizing:content] hover:border-foreground/25'
          ></textarea>
        </label>
        {
          inputErrors.turnstile && (
            <span class='text-red-500'>
              Verificaion token: {inputErrors.turnstile.join(', ')}
            </span>
          )
        }
        <div id='turnstile'></div>
        <button
          type='submit'
          class='rounded-lg border border-border bg-primary-foreground px-4 py-1 transition hover:bg-border/25'
          >Submit</button
        >
      </form>
    </div>
  </div>
</PageLayout>
