---
export const prerender = false
import PageLayout from '@/layouts/Base.astro'
import { Resend } from 'resend'
import Email from '@/emails/Contact.tsx'
import { siteConfig } from '@/site-config'

const errors = { name: '', address: '', message: '' }
if (Astro.request.method === 'POST') {
	try {
		const data = await Astro.request.formData()
		const name = data.get('name')
		const address = data.get('email')
		const message = data.get('message')
		if (typeof name !== 'string' || name.length < 1) {
			errors.name += 'Please enter a name. '
		}
		if (typeof address !== 'string' || address.length < 1) {
			errors.address += 'Please enter an email address. '
		}
		if (typeof message !== 'string' || message.length < 1) {
			errors.message += 'No message specified'
		}

		const hasErrors = Object.values(errors).some((msg) => msg)
		if (!hasErrors) {
			const resend = new Resend(Astro.locals.runtime.env.RESEND_API_KEY)
			console.log(Astro.locals.runtime.env.RESEND_API_KEY)
			await resend.emails.send({
				from: siteConfig.contactEmail,
				to: address.toString(),
				subject: 'hello world',
				react: Email({ name: 'Michael' })
			})
			return Astro.redirect('/contact/thanks')
		}
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message)
		}
	}
}

const meta = {
	description: 'Conatact',
	title: 'Contact'
}
---

<PageLayout meta={meta}>
	<div class='m-10 flex flex w-full flex-col justify-center text-center sm:w-2/3'>
		<h2 class='text-2xl font-bold'>Contact</h2>
		<form class='mt-8 flex flex-col items-center gap-y-7' action='/contact' method='post'>
			<label class='flex w-full flex-col'>
				<span>Name</span>
				<input
					required
					name='name'
					type='text'
					class='mt-1 rounded-md border-border bg-input p-2 shadow-sm hover:border-foreground/25 hover:shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
				/>
			</label>
			{errors.name && <p>{errors.name}</p>}
			<label class='flex w-full flex-col'>
				<span>Email address</span>
				<input
					name='email'
					type='email'
					class='mt-1 rounded-md border-border bg-input p-2 shadow-sm hover:border-foreground/25 hover:shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
					placeholder='email@example.com'
				/>
			</label>
			{errors.address && <p>{errors.address}</p>}
			<label class='flex w-full flex-col'>
				<span>Message</span>
				<textarea
					required
					name='message'
					class='mt-1 rounded-md border-border bg-input p-2 shadow-sm hover:border-foreground/25 hover:shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'
				></textarea>
			</label>
			{errors.message && <p>{errors.message}</p>}
			<button class='rounded-md border-border bg-secondary p-2' type='submit'>Submit</button>
		</form>
	</div>
</PageLayout>
