---
export const prerender = false

import PageLayout from '@/layouts/Base.astro'
import Button from '@/components/Button.astro'
import MdiArrowLeft from '~icons/mdi/arrow-left'

const meta = {
  description: 'Conatact',
  title: 'Contact'
}

const name = Astro.url.searchParams.get('name')
if (!(typeof name === 'string' && name.length > 0)) {
  return Astro.redirect('/404')
}
---

<PageLayout {meta}>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <h1 class='block pb-4 font-mono text-7xl font-bold sm:text-5xl'>Thanks!</h1>
    <p data-confetti>
      Thanks for reaching out, {name}! I'll be sure to reply as soon as I can.
    </p>
    <Button title='Home' href='/' style='button' class='mt-5'>
      <MdiArrowLeft slot='icon-before' />
    </Button>
  </div>
</PageLayout>

<script>
  import confetti from 'canvas-confetti'

  document.addEventListener('astro:page-load', () => {
    if (document.querySelectorAll('[data-confetti]').length > 0) confetti()
  })
</script>
