---
export const prerender = false

import PageLayout from '@/layouts/Base.astro'
import Button from '@/components/Button.astro'
import MdiArrowLeft from '~icons/mdi/arrow-left'
import MdiReload from '~icons/mdi/reload'
import { actions } from 'astro:actions'

const meta = {
  description: 'Conatact',
  title: 'Contact'
}

const result = Astro.getActionResult(actions.contact)
---

<script>
  import confetti from 'canvas-confetti'

  document.addEventListener('astro:page-load', () => {
    const spinner = document.getElementById('spinner')
    if (document.querySelectorAll('[data-confetti]').length > 0) confetti()
    document.getElementById('confetti')?.addEventListener('click', () => {
      confetti()
      spinner?.classList.add('animate-[spin_250ms_ease-out]')
      setTimeout(
        () => spinner?.classList.remove('animate-[spin_250ms_ease-out]'),
        250
      )
    })
  })
</script>

<PageLayout {meta}>
  <div class='flex flex-col items-center px-4 py-10 sm:px-6 lg:px-8'>
    <h1
      data-confetti
      class='block pb-4 font-mono text-7xl font-bold sm:text-5xl'
    >
      Thanks!
    </h1>
    {
      result?.data?.name && (
        <p>
          Thanks for reaching out, {result.data.name}! I'll be sure to reply as
          soon as I can.
        </p>
      )
    }

    <div class='mt-5 flex flex-row'>
      <Button title='Home' href='/' data-astro-prefetch>
        <MdiArrowLeft />
      </Button>
      <Button
        as='button'
        class='ms-2 size-8 animate-[appear_1500ms_ease-in-out_1500ms_forwards] cursor-pointer opacity-0 transition hover:text-muted-foreground/75'
        id='confetti'
      >
        <MdiReload class='size-5 origin-[46%_50%]' id='spinner' />
      </Button>
    </div>
  </div>
</PageLayout>
