---
import { menuLinks } from '@/site-config'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
import Search from '../Search.astro'
import ThemeToggle from '../ThemeToggle.astro'

const url = new URL(Astro.request.url)
---

<header class='mb-12 flex w-full flex-wrap gap-y-2 pb-3 text-sm sm:flex-nowrap sm:justify-start'>
	<nav
		class='relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center'
		aria-label='global'
	>
		<a class='flex flex-row font-firacode text-xl font-bold' href='/' aria-label='Brand'>
			<div class='left-0 top-0 mr-4 h-auto w-12 dark:invert'>
				<LottieAnimation src='/logo_black.json' autoplay='visible' loop={false} />
			</div>
			<span class='flex-none'>Michael Payne</span>
		</a>
	</nav>

	<div class='flex flex-row items-center justify-center gap-x-5 sm:gap-x-7'>
		{
			menuLinks.map((link) => (
				<a
					aria-current={url.pathname === link.path ? 'page' : false}
					href='{link.path}'
					data-astro-prefetch
					class='flex-none text-[1.05rem] font-medium hover:text-foreground/75'
					aria-label={link.path + ' nav item'}
				>
					{link.title}
				</a>
			))
		}
	</div>
	<ThemeToggle />
</header>

<script>
	function getCurrentTheme() {
		return localStorage.getItem('theme')
	}
	const toggleDarkModeButton = document.getElementById('toggleDarkMode')

	toggleDarkModeButton?.addEventListener('click', () => {
		const toggleDarkModeEvent = new CustomEvent('theme-change', {
			detail: { theme: getCurrentTheme() === 'light' ? 'dark' : 'light' }
		})
		document.dispatchEvent(toggleDarkModeEvent)
	})
</script>
<script></script>
