---
import { menuLinks } from '@site-config'
import LottieAnimation from 'astro-integration-lottie/Lottie.astro'
import Search from '../SearchBox.astro'
import ThemeToggle from '../ThemeToggle.astro'

const url = new URL(Astro.request.url)
---

<header class='mb-12 flex w-full flex-wrap gap-y-3 pb-3 sm:flex-nowrap sm:justify-start'>
	<nav class='relative order-1 mr-auto flex sm:flex' aria-label='global'>
		<a
			class='align-self-start flex flex-row items-center text-lg font-bold'
			href='/'
			aria-label='Brand'
		>
			<div
				transition:persist='logo'
				class='mr-4 h-auto w-12 opacity-95 transition-opacity hover:opacity-70 dark:invert'
			>
				<LottieAnimation src='/logo_black.json' autoplay='visible' loop={false} />
			</div>
			<span class='flex-none font-mono'>Michael Payne</span>
		</a>
	</nav>

	<div class='order-3 flex w-full flex-row items-center gap-x-5 sm:order-2 sm:w-auto sm:gap-x-7'>
		{
			menuLinks.map((link) => (
				<a
					aria-current={url.pathname === link.path ? 'page' : false}
					href={link.path}
					data-astro-prefetch
					class='flex-none text-[1.05rem] font-medium hover:text-foreground/75'
					aria-label={link.path + ' nav item'}
				>
					{link.title}
				</a>
			))
		}
	</div>
	<div class='order-2 ml-auto flex flex-row sm:order-3 sm:ml-0'>
		<Search uiOptions={{ resetStyles: false }} />
		<ThemeToggle />
	</div>
</header>

<script>
	function getCurrentTheme() {
		return localStorage.getItem('theme')
	}
	const toggleDarkModeButton = document.getElementById('toggleDarkMode')

	toggleDarkModeButton?.addEventListener('click', () => {
		const toggleDarkModeEvent = new CustomEvent('theme-change', {
			detail: { theme: getCurrentTheme() === 'light' ? 'dark' : 'light' }
		})
		document.dispatchEvent(toggleDarkModeEvent)
	})
</script>
