---
const {
  as: Tag = 'a',
  class: className,
  title,
  href,
  style = 'button',
  ...props
} = Astro.props
---

<Tag
  class:list={[
    className,
    'flex max-w-fit flex-row items-center justify-center gap-x-1 border border-border bg-primary-foreground text-sm transition',
    title && 'px-2 py-1',
    href && 'shadow-sm hover:bg-border/25 hover:shadow',
    style === 'pill' ? 'rounded-full px-3' : 'rounded-lg'
  ]}
  href={href}
  {...props}
>
  <slot />
  {title && <span>{title}</span>}
  <slot name='after' />
</Tag>
