---
const {
  as: Tag = 'a',
  class: className,
  title,
  href,
  style = 'button'
} = Astro.props
---

<Tag
  class:list={[
    className,
    'inline-flex items-center gap-x-1 rounded-lg border border-border bg-primary-foreground px-2 py-1 text-sm transition hover:bg-border/25',
    !href && 'cursor-default',
    href && 'shadow-sm hover:shadow',
    style === 'pill' && 'rounded-xl'
  ]}
  href={href}
  data-astro-prefetch
>
  <slot name='icon-before' />
  <p>{title}</p>
  <slot name='icon-after' />
</Tag>
