---
const { class: className, as: Tag = 'div', title, href, ...props } = Astro.props
---

<Tag
  class:list={[
    className,
    'flex flex-row items-center justify-center gap-x-2',
    href && 'transition-opacity hover:opacity-75'
  ]}
  href={href}
  {...props}
>
  <slot name='icon' />
  <p>
    <slot name='title'>{title}</slot>
  </p>
</Tag>
