---
import type { TocItem } from '@/utils/generateToc'

interface Props {
  heading: TocItem
}

const {
  heading: { depth, slug, children, text }
} = Astro.props
---

<li class={`${depth > 2 ? 'ms-2' : ''}`}>
  <a
    aria-label={`Scroll to section: ${text}`}
    class={`block line-clamp-2  ${depth <= 2 ? 'mt-2' : 'mt-1 text-sm'} text-foreground/75 transition-colors hover:text-foreground`}
    href={`#${slug}`}>{text}</a
  >
  {
    !!children.length && (
      <ul>
        {children.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
