---
import BlogHero from '@/components/blog/Hero.astro'
import TOC from '@/components/blog/TOC.astro'
import Button from '@/components/Button.astro'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'

import WebMentions from '@/components/blog/webmentions/index.astro'
import LightBox from '@/components/LightboxPortal.astro'
import PageLayout from './Base.astro'

interface Props {
	project: CollectionEntry<'project'>
}

const { project } = Astro.props
const {
	data: { description, ogImage, ogManual, publishDate, title, updatedDate },
	slug
} = project

const socialImage = ogManual ? ogImage : `/projects/${slug}-og.png`
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString()
const { headings } = await project.render()
---

<PageLayout meta={{ articleDate, description, ogImage: socialImage, title }} showViewCount={true}>
	<LightBox />
	<div class='w-full'>
		<Button transition:persist='back' title='Back' href='/projects' style='button'>
			<Icon slot='icon-before' name='heroicons:arrow-left' class='h-4 w-4' />
		</Button>
		<div class='mt-8 gap-x-10 lg:flex lg:items-start'>
			{!!headings.length && <TOC headings={headings} />}
			<article class='flex-grow break-words' data-pagefind-body>
				<div id='blog-hero'><BlogHero content={project} /></div>
				<div
					transition:animate='slide'
					class='prose prose-base prose-zinc mt-12 text-muted-foreground dark:prose-invert prose-headings:font-medium prose-headings:text-foreground prose-headings:before:absolute prose-headings:before:-ms-4 prose-th:before:content-none'
				>
					<slot />
					<WebMentions />
				</div>
			</article>
		</div>
		<button
			aria-label='Back to Top'
			class='z-90 fixed bottom-8 end-4 flex h-8 w-8 translate-y-28 items-center justify-center rounded-full border-2 border-transparent bg-primary-foreground text-3xl opacity-0 transition-all duration-300 hover:border-border/75 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 sm:end-8 sm:h-12 sm:w-12'
			data-show='false'
			id='to-top-btn'
		>
			<Icon name='heroicons:chevron-up' class='h-4 w-4' />
		</button>
	</div>
</PageLayout>

<script>
	const scrollBtn = document.getElementById('to-top-btn') as HTMLButtonElement
	const targetHeader = document.getElementById('blog-hero') as HTMLDivElement

	function callback(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			// only show the scroll to top button when the heading is out of view
			scrollBtn.dataset.show = (!entry.isIntersecting).toString()
		})
	}

	scrollBtn.addEventListener('click', () => {
		document.documentElement.scrollTo({ behavior: 'smooth', top: 0 })
	})

	const observer = new IntersectionObserver(callback)
	observer.observe(targetHeader)
</script>
